body {
    background-color: black;
}

#title {
    color: white;
}

article {
    color: rgb(192, 192, 192);
}

#hamburgerMenu div {
    border-top: 25px solid white;
}

#navCloseBtn {
    border-bottom: 25px solid rgb(255, 255, 255);
}

nav {
    background-color: rgb(37, 37, 37);
}

nav a {
    color: white;
}

#themeToggleCont .themeSection {
    box-shadow: 0px 0px 3px white;
}

.selection {
    background-color: #101010;
    color: white;
}

#loader {
    border: 14px solid #333333;
    border-top: 14px solid white;
}

figcaption {
    color:white;
}

@media only screen and (min-width: 820px) {
    nav {
        background-color: transparent;
    }
}

@media only screen and (min-width: 1025px) {
    nav a:hover{
        background-color: white;
        color: black;
    }
}