@media only screen and (min-width: 800px) {

#title {
    text-align: center;
    font-family: monospace;
}

#chartCont {
    width:95%;
    height:60vh;
    padding:2.5%;
}

#filterCont input {
    border: 1px solid #444444;
    border-radius: 5px;
    padding-left:5px;
    font-size: 14px;
}

#filterCont {
    margin-top: -10px;
    margin-left: 5%;
    min-width:700px;
    max-width: 800px;
    display: inline-block;
}

.filterItem {
    margin-top:2.5%;
}

label, #filterCont input {
    margin-right:5%;
}

#filterCont input {
    width: 150px;
}

#filterBtn {
    float: right;
}

footer {
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
    position: fixed;
    right:3%;
    bottom: 3%;
    width:fit-content;
    display: inline;
    min-width:200px;
}

footer > span {
    margin-left:2vw;
}

}