@media only screen and (min-width: 1025px) {
    nav {
        padding-top: 1%;
        padding-bottom: 2%;
    }

    nav div {
        margin-left: 2%;
    }

    nav a {
        padding:1%;
        border-radius: 10px;
    }

    nav a:hover{
        font-size: 24px;
        background-color: black;
        color: white;
    }

    #title {
        margin-top: 2%;
    }

    #themeToggleCont {
        right: 5%;
        top:5%;
    }

    #chartCont {
        padding-top:0;
    }

    .selection {
        margin-top: 1%;
        margin-left: 5%;
        padding:5px;
    }
}