#hamburgerMenu {
    position: fixed;
    left:5%;
    top:5%;
}

#hamburgerMenu div{
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 25px solid #555;
}

nav {
    z-index: 10;
    position: fixed;
    top:-100%;
    left:0;
    padding-top: 5%;
    width: 100vw;
    background-color: #e0e0e0;
    transition: 0.5s;
    padding-bottom: 20%;
    text-align: center;
}

#navCloseBtn {
    position: absolute;
    bottom: 5%;
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 25px solid #555;
    left: 50%;
    transform: translateX(-50%);
}

nav div {
    margin-top:10%;
}

nav a {
    font-size: 24px;
    transition: 0.3s;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    font-size: 26px;
}

#title {
    margin-top: 5%;
    text-align: center;
    font-family: monospace;
    font-size: 1.6em;
}

#chartCont {
    width:95%;
    height:60vh;
    padding:2.5%;
    min-height: 350px;
}

#themeToggleCont {
    position: absolute;
    right: 10%;
    top:5%;
    font-size: 0px;
    cursor: pointer;
}

#themeToggle{
    width: 21px;
    height: 21px;
    margin:5px;
    background-color: black;
    position: absolute;
    border-radius: 50px;
    transition: 0.5s;
    left:0px;
}

#themeToggleCont .themeSection {
    box-shadow: 0px 0px 3px black;
    font-size: 18px;
    font-weight: bolder;
    display: inline-block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    margin: 0px;
}

#themeToggleCont .themeSection:nth-child(2) { 
    background: #DFDFDF;
    border-radius: 50px 0px 0px 50px;
    border: 1px solid #444444;
    border-right: none;
    text-align: right;
    padding-right: 10px;
}

#themeToggleCont .themeSection:nth-child(3) { 
    background: #000000;
    border-radius: 0px 50px 50px 0px;
    border: 1px solid white;
    border-left: none;
    color:white;
    text-align: left;
    padding-left: 10px;
}

.selection {
    font-size: 14px;
    font-weight: bolder;
    padding: 1%;
    font-family: monospace;
    box-shadow: 1px 1px 5px;
    border-radius: 5px;
    margin-top: 30%;
}

#loader {
    position: absolute;
    border: 14px solid #f3f3f3;
    border-top: 14px solid #838e96;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    left: 50%;
    top: 50%;
    margin-top:80px;
    transform: translate(-50%, -50%);
}

.extraMarginTop {
    margin-top:20%;
}


@keyframes spin {
    0% { 
        transform: translate(-50%, -50%) rotate(0deg); 
    }
    100% { 
        transform: translate(-50%, -50%) rotate(360deg); 
    }
}

@media only screen and (min-width: 500px) {
    .selection {
        margin-top: 20%;
    }

    nav {
        padding-bottom: 10%;
    }

    nav div {
        margin-top: 3%;
    }
}