<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='description' content='test'>
        <meta name='keywords' content='HTMl, CSS, JS,'>
        <meta name='author' content='Leon Lit'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link rel="apple-touch-icon" sizes="180x180" href="/icon/logo_180.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/icon/logo_32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/icon/logo_16.png">
        <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>    
        <title>Wifi Monitor</title>
        <link rel='stylesheet' href='/css/mobile.css'>
        <link rel='stylesheet' href='/css/desktop.css'>
    </head>
    <body>
        <div id="hamburgerMenu" onclick="open_nav()">
            <div></div>
        </div>
        <nav>
            <div class="closeBtn" id="navCloseBtn" onclick="close_nav()"></div>
            <div><a href="/">Home</a></div>
            <div><a href="/history/">History Monitor</a></div>
            <div><a href="/about/">About</a></div>
            <div><a target="_blank" href="https://www.google.com">Source code</a></div>
        </nav>
        <div id="themeToggleCont">
            <div id="themeToggle"></div>
            <div class="themeSection">light</div>
            <div class="themeSection">dark</div>
        </div>
        <h1 id="title">WIFI Speed Monitor</h1>
        <div id="chartCont">
            <canvas id="wifi_data_chart"></canvas>
        </div>
    </body>
</html>
<script src="/js/chartManagement.js"></script>
<script src="/js/userInteraction.js"></script>
<script>
    let socket;
    let initial = true;
    $(document).ready(function() {
        namespace = '/wifi_data';
        socket = io(namespace);

        socket.on("connect_error", (err) => {
            console.log("connect_error due to ${err.message}");
        });

        socket.on('connect', function() {
            console.log("connected");
            socket.emit("get_all_data")
        });

        socket.on("set_all_data", function(data){
            console.log("initial", data);
            draw_chart(data, "All wifi data");
        })
    })
</script>